.slider_section {
	min-height: 80vh;
	position: relative;
}
/* Ensure fixed navbar displays above content */
.fixed-top {
	z-index: 1030;
	background-color: rgb(228, 54, 15) !important;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

body {
	padding-top: 70px; /* Adjust if your navbar is taller */
	font-family: 'Open Sans', sans-serif;
	color: #0c0c0c;
	background-color: #fff;
	overflow-x: hidden;
}

/* Make sure custom_nav-container also uses orange background */
.custom_nav-container {
	background-color: rgba(233, 78, 6, 0.923) !important;
	padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap');
 .layout_padding {
	 padding: 90px 0;
}
 .layout_padding2 {
	 padding: 75px 0;
}
 .layout_padding2-top {
	 padding-top: 75px;
}
/* service section */
/* end service section */
/* about section */
 .layout_padding2-bottom .navbar-brand span {
	 font-weight: bold;
	 font-size: 24px;
	 color: #000;
}
 .layout_padding2-bottom .service_section {
	 position: relative;
}
 .layout_padding2-bottom .service_section .box {
	 display: flex;
	 margin-top: 45px;
	 background-color: #f8f8f9;
	 padding: 20px;
	 border-radius: 5px;
}
 .layout_padding2-bottom .service_section .box .img-box {
	 display: flex;
	 justify-content: center;
	 align-items: flex-start;
	 width: 125px;
	 min-width: 75px;
	 height: 75px;
	 margin-right: 25px;
}
 .layout_padding2-bottom .service_section .box .img-box img {
	 max-width: 100%;
	 max-height: 100%;
	 transition: all 0.3s;
}
 .layout_padding2-bottom .service_section .box .detail-box h5 {
	 font-weight: bold;
	 text-transform: uppercase;
}
 .layout_padding2-bottom .service_section .box .detail-box a {
	 color: #04233b;
	 font-weight: 600;
}
 .layout_padding2-bottom .service_section .box .detail-box a:hover {
	 color: #0a97b0;
}
 .layout_padding2-bottom .about_section .row {
	 align-items: center;
	 width: 100%;
	 background-color: #000;
	 border-radius: 5px;
	 transition: all 0.3s;
}
 .layout_padding2-bottom .custom_nav-container .navbar-toggler span::before {
	 top: -10px;
}
 .layout_padding2-bottom .custom_nav-container .navbar-toggler span::after {
	 top: 10px;
}
 .custom_nav-container {
	 padding: 0;
}
 .custom_nav-container .navbar-nav {
	 margin-left: auto;
}
 .custom_nav-container .navbar-nav .nav-item .nav-link {
	 padding: 5px 20px;
	 color: #fff;
	 text-align: center;
	 text-transform: uppercase;
	 border-radius: 5px;
	 transition: all 0.3s;
}
 .custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
	 color: #0a97b0;
}
 .custom_nav-container .nav_search-btn {
	 width: 35px;
	 height: 35px;
	 padding: 0;
	 border: none;
	 color: #000;
}
 .custom_nav-container .nav_search-btn:hover {
	 color: #000;
}
 .custom_nav-container .navbar-toggler {
	 outline: none;
}
 .custom_nav-container .navbar-toggler {
	 padding: 0;
	 width: 37px;
	 height: 42px;
	 transition: all 0.3s;
}
 .custom_nav-container .navbar-toggler span {
	 display: block;
	 width: 35px;
	 height: 4px;
	 background-color: #000;
	 margin: 7px 0;
	 transition: all 0.3s;
	 position: relative;
	 border-radius: 5px;
	 transition: all 0.3s;
}
 .custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
	 content: "";
	 position: absolute;
	 left: 0;
	 height: 100%;
	 width: 100%;
	 background-color: #000;
	 top: -10px;
	 border-radius: 5px;
	 transition: all 0.3s;
}
 .custom_nav-container .navbar-toggler span::after {
	 top: 10px;
}
 .custom_nav-container .navbar-toggler[aria-expanded="true"] {
	 transform: rotate(360deg);
}
 .custom_nav-container .navbar-toggler[aria-expanded="true"] span {
	 transform: rotate(45deg);
}
 .custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
	 transform: rotate(90deg);
	 top: 0;
}
 .custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
	 transform: rotate(45deg);
	 margin: 0;
	 margin-bottom: -4px;
}
 .custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
	 display: none;
}
 .custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
	 transform: rotate(-45deg);
	 margin: 0;
	 margin-top: -4px;
}
 .custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1, .custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2, .custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
	 transform: none;
}
/*end header section*/
/* slider section */
 .slider_section {
	 flex: 1;
	 display: flex;
	 align-items: center;
	 position: relative;
}
 .slider_section .slider_bg_box {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 overflow: hidden;
	 z-index: -1;
}
.slider_section .slider_bg_box img {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	min-width: 100vw;
	min-height: 80vh;
	max-width: none;
	max-height: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	filter: brightness(0.95);
}
 .slider_section .slider_bg_box::before {
	 content: "";
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background: linear-gradient(to right, rgba(37, 37, 37, 0.9), rgba(37, 37, 37, 0.7));
}
 .slider_section .row {
	 align-items: center;
}
 .slider_section #customCarousel1 {
	 width: 100%;
	 position: unset;
}
 .slider_section .detail-box {
	 color: #04233b;
}
 .slider_section .detail-box h1 {
	 font-weight: bold;
	 text-transform: uppercase;
	 margin-bottom: 15px;
	 color: #fff;
}
 .slider_section .detail-box p {
	 color: #fefefe;
	 font-size: 14px;
}
 .slider_section .detail-box .btn-box {
	 display: flex;
	 margin: 0 -5px;
	 margin-top: 25px;
}
 .slider_section .detail-box .btn-box a {
	 margin: 5px;
	 text-align: center;
	 width: 165px;
}
 .slider_section .detail-box .btn-box .btn1 {
	 display: inline-block;
	 padding: 10px 15px;
	 background-color: #0a97b0;
	 color: #fff;
	 border-radius: 0;
	 transition: all 0.3s;
	 border: none;
}
 .slider_section .detail-box .btn-box .btn1:hover {
	 background-color: #065968;
}
 .slider_section .detail-box .btn-box .btn2 {
	 display: inline-block;
	 padding: 10px 15px;
	 background-color: #000;
	 color: #fff;
	 border-radius: 0;
	 transition: all 0.3s;
	 border: none;
}
 .slider_section .detail-box .btn-box .btn2:hover {
	 background-color: #000;
}
 .slider_section .carousel-indicators {
	 position: unset;
	 margin: 0;
	 justify-content: center;
	 align-items: center;
	 margin-top: 45px;
}
 .slider_section .carousel-indicators li {
	 background-color: #fff;
	 width: 12px;
	 height: 12px;
	 border-radius: 100%;
	 opacity: 1;
}
 .slider_section .carousel-indicators li.active {
	 width: 20px;
	 height: 20px;
	 background-color: #0a97b0;
}
 .service_section {
	 position: relative;
}
 .service_section .box {
	 display: flex;
	 margin-top: 45px;
	 background-color: #f8f8f9;
	 padding: 20px;
	 border-radius: 5px;
}
 .service_section .box .img-box {
	 display: flex;
	 justify-content: center;
	 align-items: flex-start;
	 width: 125px;
	 min-width: 75px;
	 height: 75px;
	 margin-right: 25px;
}
 .service_section .box .img-box img {
	 max-width: 100%;
	 max-height: 100%;
	 transition: all 0.3s;
}
 .service_section .box .detail-box h5 {
	 font-weight: bold;
	 text-transform: uppercase;
}
 .service_section .box .detail-box a {
	 color: #04233b;
	 font-weight: 600;
}
 .service_section .box .detail-box a:hover {
	 color: #0a97b0;
}
 .about_section .row {
	 align-items: center;
}
 .about_section .img-box {
	 position: relative;
}
 .about_section .img-box img {
	 max-width: 100%;
	 position: relative;
	 z-index: 2;
}
 .about_section .img-box::before, .about_section .img-box::after {
	 content: "";
	 position: absolute;
	 top: 50%;
	 width: 45px;
	 height: 70%;
	 background-color: #04233b;
	 z-index: 3;
}
 .about_section .img-box::before {
	 left: 0;
	 z-index: 1;
	 transform: translate(-50%, -50%);
}
 .about_section .img-box::after {
	 right: 0;
	 z-index: 1;
	 transform: translate(50%, -50%);
}
 .about_section .detail-box p {
	 color: #1f1f1f;
	 margin-top: 15px;
}
 .about_section .detail-box a {
	 display: inline-block;
	 padding: 10px 45px;
	 background-color: #0a97b0;
	 color: #fff;
	 border-radius: 0px;
	 transition: all 0.3s;
	 border: none;
	 margin-top: 15px;
}
 .about_section .detail-box a:hover {
	 background-color: #065968;
}
 .track_section {
	 position: relative;
	 color: #fff;
}
 .track_section .track_bg_box {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 overflow: hidden;
	 z-index: -1;
}
 .track_section .track_bg_box img {
	 width: auto;
	 height: auto;
	 min-width: 100%;
	 min-height: 100%;
}
 .track_section .track_bg_box::before {
	 content: "";
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background: linear-gradient(to right, rgba(37, 37, 37, 0.95), rgba(37, 37, 37, 0.55));
}
 .track_section p {
	 font-size: 14px;
	 margin-top: 15px;
	 margin-bottom: 25px;
}
 .track_section form {
	 display: flex;
	 align-items: stretch;
}
 .track_section form input {
	 background-color: #fff;
	 border: none;
	 flex: 2.5;
	 outline: none;
	 color: #000;
	 min-height: 42.4px;
	 padding-left: 15px;
}
 .track_section form input ::placeholder {
	 color: #fff;
	 opacity: 0.2;
}
 .track_section form button {
	 flex: 1;
	 display: inline-block;
	 padding: 9px 30px;
	 background-color: #0a97b0;
	 color: #fff;
	 border-radius: 0;
	 transition: all 0.3s;
	 border: none;
	 font-size: 15px;
	 text-transform: uppercase;
}
 .track_section form button:hover {
	 background-color: #065968;
}
 .client_section .client_container {
	 width: 75%;
	 margin-top: 45px;
}
 .client_section .box {
	 display: flex;
	 flex-direction: column;
	 margin-right: 5px;
}
 .client_section .box .detail-box {
	 border: 1px solid #ddd;
	 padding: 25px;
	 margin-bottom: 25px;
}
 .client_section .box .client_id {
	 display: flex;
	 align-items: center;
}
 .client_section .box .client_id .img-box {
	 position: relative;
	 width: 75px;
	 height: 75px;
}
 .client_section .box .client_id .img-box img {
	 width: 100%;
}
 .client_section .box .client_id .name {
	 margin-left: 15px;
}
 .client_section .box .client_id .name h6 {
	 color: #23242a;
	 font-size: 18px;
	 margin-bottom: 0;
}
 .client_section .box .client_id .name p {
	 margin-bottom: 0;
}
 .client_section .carousel-wrap {
	 margin: 0 auto;
	 position: relative;
}
 .client_section .owl-carousel .owl-nav .owl-prev, .client_section .owl-carousel .owl-nav .owl-next {
	 width: 50px;
	 height: 50px;
	 background-size: 18px;
	 background-position: center;
	 background-repeat: no-repeat;
	 position: absolute;
	 right: -15%;
	 outline: none;
	 background-color: #0a97b0;
}
 .client_section .owl-carousel .owl-nav .owl-prev:hover, .client_section .owl-carousel .owl-nav .owl-next:hover {
	 background-color: #161825;
}
 .client_section .owl-carousel .owl-nav .owl-prev {
	 top: 25%;
		background-image: url(images/prev.png);
}
 .client_section .owl-carousel .owl-nav .owl-next {
	 top: calc(25% + 65px);
		background-image: url(images/next.png);
}
 .contact_section {
	 position: relative;
	 padding-bottom: 90px;
}
 .contact_section .heading_container {
	 margin-bottom: 25px;
}
 .contact_section .heading_container h2 {
	 text-transform: uppercase;
}
 .contact_section .form_container {
	 margin-right: 15px;
}
 .contact_section .form_container input {
	 width: 100%;
	 border: none;
	 height: 50px;
	 margin-bottom: 25px;
	 padding-left: 15px;
	 outline: none;
	 color: #101010;
	 box-shadow: 0 0 5px 0 rgba(0, 0, 0, .15);
}
 .contact_section .form_container input::placeholder {
	 color: #04233b;
}
 .contact_section .form_container input.message-box {
	 height: 120px;
}
 .contact_section .form_container button {
	 border: none;
	 text-transform: uppercase;
	 display: inline-block;
	 padding: 12px 55px;
	 background-color: #0a97b0;
	 color: #fff;
	 border-radius: 5px;
	 transition: all 0.3s;
	 border: none;
}
 .contact_section .form_container button:hover {
	 background-color: #065968;
}
 .contact_section .map_container {
	 height: 420px;
	 overflow: hidden;
	 display: flex;
	 align-items: stretch;
	 padding: 0;
}
 .contact_section .map_container .map {
	 height: 100%;
	 flex: 1;
}
 .contact_section .map_container .map #googleMap {
	 height: 100%;
}
 .info_section {
	 background-color: #04233b;
	 color: #fff;
	 padding: 45px 0 15px 0;
}
 .info_section h4 {
	 font-weight: 600;
	 margin-bottom: 20px;
}
 .info_section .info_col {
	 margin-bottom: 30px;
}
 .info_section .info_contact .contact_link_box {
	 display: flex;
	 flex-direction: column;
}
 .info_section .info_contact .contact_link_box a {
	 margin: 5px 0;
	 color: #fff;
}
 .info_section .info_contact .contact_link_box a i {
	 margin-right: 5px;
}
 .info_section .info_contact .contact_link_box a:hover {
	 color: #0a97b0;
}
 .info_section .info_social {
	 display: flex;
	 margin-top: 20px;
	 margin-bottom: 10px;
}
 .info_section .info_social a {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 color: #fff;
	 border-radius: 100%;
	 margin-right: 10px;
	 font-size: 24px;
}
 .info_section .info_social a:hover {
	 color: #0a97b0;
}
 .info_section .info_links {
	 display: flex;
	 flex-direction: column;
	 flex-wrap: wrap;
}
 .info_section .info_links a {
	 display: flex;
	 align-items: center;
	 margin-bottom: 15px;
	 color: #fff;
}
 .info_section .info_links a:hover {
	 color: #0a97b0;
}
 .info_section form input {
	 border: none;
	 border-bottom: 1px solid #fff;
	 background-color: transparent;
	 width: 100%;
	 height: 45px;
	 color: #fff;
	 outline: none;
}
 .info_section form input::placeholder {
	 color: #fff;
}
 .info_section form button {
	 width: 100%;
	 text-align: center;
	 display: inline-block;
	 padding: 10px 55px;
	 background-color: #0a97b0;
	 color: #fff;
	 border-radius: 0;
	 transition: all 0.3s;
	 border: none;
	 margin-top: 15px;
}
 .info_section form button:hover {
	 background-color: #065968;
}
/* footer section*/
 .footer_section {
	 position: relative;
	 background-color: #fff;
	 text-align: center;
}
 .footer_section p {
	 color: #04233b;
	 padding: 25px 0;
	 margin: 0;
}
 .footer_section p a {
	 color: inherit;
}
 